@import './assets/styles/base/fonts.css';
@import './assets/styles/base/variables.css';

:root {

  color: rgb(248, 248, 248);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center; /* Centraliza verticalmente, ajuste conforme necessário */
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh; /* Garante que ocupe toda a altura da viewport, ajuste conforme necessário */
}

