@import './assets/styles/base/fonts.css';
@import './assets/styles/base/variables.css';

:root {

  color: rgb(248, 248, 248);
  background-color: var(--off-white);


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center; /* Centraliza verticalmente, ajuste conforme necessário */
  margin: 0;
  padding: 0;
  width: 100vw;
  background-image: url("./assets/imgs/Grafismo.png");
  background-size: cover;
  background-repeat: repeat-y;
}

/* @media (max-width: 1060px) {
  h2 {
    font-size: var(--font-size-mh2);
  }
  
  p {
    font-size: var( --font-size-mp);
  }

  button {
    font-size: var(--font-size-mbutton);
  }
} */