@import './assets/styles/base/fonts.css';
@import './assets/styles/base/variables.css';

:root {

  color: rgb(248, 248, 248);
  background-color: var(--off-white);


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100vw;
  background-image: url("./assets/imgs/Grafismo.png");
  background-size: cover;
  background-repeat: repeat-y;
}


::-webkit-scrollbar {
  width: 1.5rem;
  height: 1.5rem;
}

::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 10px;
}

/* Estilizando a barra de rolagem para navegadores que não suportam WebKit */
@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}